:root {
    --primaryColor: hsl(199, 100%, 33%);
    --secondaryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 41%, 36%);
    --whiteColorDemi: hsl(240, 42%, 93%);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 235);
    --greyBg: rgb(240, 240, 240); /* Added value for greyBg */
    --greyText: rgb(220, 210, 210);
    --box-shadow: 0 2px 8px rgba(66, 53, 53, 0.45);
}

.offer{
    .secContainer{
        //secIntro has been styled earlier in app.css, so we will omit it here
        .mainContent{
            gap: 1rem;

            .singleOffers{
                border-radius: 1rem;
                overflow: hidden;
                padding: .5rem;
                box-shadow: 0 2px 8px rgba(66, 53, 53, 0.45);

                .icon{
                    font-size: 20px;
                    color: rgb(73, 65, 65);
                }

                .small{
                    font-weight: 500;
                    color: var(--blackColor);
                }

                .destImage{
                    position: relative;
                    height: 200px;
                    width: 100%;
                    border-radius: 1rem;
                    overflow: hidden;

                    img{
                        height: 100%;
                        
                    }

                    .discount{
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        padding: 5px 10px;
                        background: var(--primaryColor);
                        color: var(--whiteColor);
                        font-size: 10px;
                        border-radius: 3rem;
                        font-weight: 500;
                    }
                }

                .offerBody{
                    padding: 1rem;

                    .price{
                        justify-content: space-between;

                        h4{
                            color: black;
                            font-weight: 700;
                            font-size: 1.1rem;
                        }

                        .status{
                            padding: 5px 10px;
                            color: var(--primaryColor);
                            background: var(--greyBg);
                            border-radius: 3rem;
                            font-size: 10px;
                            font-weight: 600;
                        }
                    }

                    .amenities{
                        width: 100%;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        padding: 1rem 0;
                        gap: .5rem;

                        .singleAmenity{
                            padding: 5px 10px;
                            border-radius: 5px;
                            background: var(--greyBg);
                            gap: .5rem;
                        }
                    }

                    .btn{
                        margin-top: 1rem;
                        width: 100%;
                        text-align: center;
                        justify-content: center;
                        padding: .6rem;
                        color: var(--whiteColor);
                        font-weight: 600;
                        gap: .5rem;

                        /*.icon{
                            color: var(--whiteColor);
                        }*/
                    }
                }

                &:hover{
                    transform: translateY(-7px);
                    background: rgb(136, 242, 236);
                }
            }
        }
    }
}
